html { 
    font-size: 1em; 
  } 

body {
    margin: 0px;
    padding: 0px;
    background-color: #212121;
}


ancestor-state-bar {
    --ancestor-state-bar-background-color:red;
    width: 100% !important;
}

/*1.sections {
    position: fixed;
    overflow: scroll;
}*/

/*div.sticky-container {
    width: 100%;
    height: auto;
  }*/