html { 
    font-size: 1em; 
  } 

body {
    margin: 0px;
    padding: 0px;
    background-color: #212121;
    transition: background-color 0.5s;
    overflow-x: hidden;
}


ancestor-state-bar {
    --ancestor-state-bar-background-color:red;
    width: 100% !important;
}

ancestor-starfield {
    width: 100%;
    height: 100%;
}

#starfield {
    height: 100vh;
    width: 100%;
    position: absolute;
}
#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    -webkit-font-smoothing: antialiased;
    font-family: 'IM Fell English', serif;
}

