/** CREDIT TO: codepen.io/andreasstorm && https://dribbble.com/shots/5092176-Newton-Loader*/
body.loading {
    background-color: black;
    overflow: hidden;
}
main {
    transition: opacity 0.5s;
}
main.loading {
    opacity: 0;
    
}
.pre-loader .unsupported {
    opacity: 0;
    animation: unsupported-fadein 0.5s linear 6s forwards;
    color: white;
    top: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes unsupported-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.pre-loader {
    transition: opacity 0.5s;
}
.pre-loader.hide {
    opacity: 0;
}
.pre-loader .gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: black;
    filter: contrast(20);
}

.pre-loader .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #fff;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.pre-loader .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.pre-loader .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #fff;
    border-radius: 50%;
}

@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}